@font-face {
  font-family: "Banannie-Regular";
  src: url("../fonts/Banannie-Regular.otf") format("opentype");
}

@font-face {
	font-family: "PWChalk";
	src: url("../fonts/PWChalk.TTF") format("truetype");
}

body {
  transition: all 0.35s cubic-bezier(0.33, 1.21, 0.86, 0.85);
  overflow-x: hidden;
}

.body-content::-webkit-scrollbar {
    width: 2px;
}
 
.body-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 2px;
}

html, .drawn-button {
	color: rgba(82,80, 75, .7);
}

img {
	width: 100%;
	height: 100%;
}

input.drawn-input {
	height: 30px;
}


footer > span {
	font-size: 1.2rem;
	vertical-align: baseline;
	margin: auto;
}

form > input, textarea {
	margin-bottom: 5px;
}

form > textarea {
	height: 120px;
}

#copyright {
	margin: auto;
}

#signature {
	height: 15px;
	width: 40px;
}

#social-media {
	padding-left: 10px;
}

#slideshow {
	position: relative;
}

.addendum {
	font-size: .9rem;
}

.align-center {
	margin: auto;
}
.align-right {
	right: 0;
	margin-right: 3%;
}

.body-content {

	width: 85%;
	height: 67.5vw;

	margin: auto;
	margin-bottom: 7%;
	position: relative;
}

.body-content:not(#home-content) {
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.bottom {
	position: absolute;
	bottom: 0;
	margin-bottom: 2%;
}

.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-6 {
	width: 50%;
}
.col-8 {
	width: 66.6%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.4%;
}
.col-12 {
	width: 98%;
}

.contact {
	display: grid;
}

.container {
	width: 100%;
	height: 130vw;

	font-family: "Banannie-Regular";

	position: relative;

	margin: auto;
	margin-top: 7px;
	margin-bottom: 5px;
	background-image: url("../images/container_background.jpg");

	border: 2.5px solid transparent;
	border-image: url("../images/container-border.png") 10 round;
	border-image-outset: 1px;
	border-radius: 1px;

	z-index: 1;
}

.flipbook-page {
	font-family: "Banannie-Regular";
	background-image: url("../images/container_background.jpg");
	text-shadow: 1px 1px rgba(255, 255, 255, .5) !important;
}

.flipbook-page > .image-container {
	padding-top: 7%;
}
.flipbook-page > .header {
	padding-top: 2%;
}

.hidden {
	display: none;
}

.image-button {
	height: 30px;
	width: 30px;
	align-self: center;
	vertical-align: middle;
  	outline: none;
  	opacity: 80%;
}

.image-container {
	max-height: 100%;
	max-width: 100%;
}

.image-container > img {
	margin-top: 3%;
}

.navbar {
	margin: auto;
	margin-top: 10px;
	border: 1px;
}

.pencil {
    display:block;
    border:0px;
    height:4%;
    width: 72%;
    margin-left: 12%;
    margin-top: 2%;
    padding-top: 2%;
    background-image: url("../images/paraphernalia/pencil.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.reflow-paragraph {
	display: inline-flex;
}

.reflow-paragraph > img {
	margin-right: 3%;
}

.small {
	padding-top: 5%;
}

.standard-text {
	font-size: 1.3rem;
	padding-bottom: 15px;
}

.standard-text > p {
	margin: 2%;
}

.subtitle {
	font-size: 1.2rem;
}

.text-center {
	text-align: center !important;
}

.title {
	font-size: 2.5rem;
	font-weight: lighter;
}

.title-section {
	padding-top: 10px;
}

html .drawn-input, body .drawn-input {
  font-family: inherit;
  align-self: center;
  background: transparent;
  font-size: 1.1rem;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

html .drawn-button, body .drawn-button {
  font-family: inherit;
  align-self: center;
  background: transparent;
  padding: .5rem .5rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: all 0.35s cubic-bezier(0.33, 1.21, 0.86, 0.85);
  outline: none;
  box-shadow: 19px 19px 29px -16px rgba(0, 0, 0, .2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
html .drawn-button:hover, body .drawn-button:hover,
	html .image-button:hover, body .image-button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);

}
html .drawn-button:active, body .drawn-button:active,
	html .image-button:active, body .image-button:active {
	filter: invert(1);
}
html .lined.thicc, body .lined.thicc {
  border: solid 7px rgba(82,80, 75, .7);
}
html .dotted.thicc, body .dotted.thicc {
  border: dotted 5px rgba(82,80, 75, .7);
}
html .dashed.thicc, body .dashed.thicc {
  border: dashed 5px rgba(82,80, 75, .7);
}
html  .lined.thin, body .lined.thin {
  border: solid 2px rgba(82,80, 75, .7);
}
html .dotted.thin, body .dotted.thin {
  border: dotted 2px rgba(82,80, 75, .7);
}
html .dashed.thin, body .dashed.thin {
  border: dashed 2px rgba(82,80, 75, .7);
}

input, textarea::-webkit-input-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea:-ms-input-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea:-moz-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea::-moz-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

@media screen and (max-width: 450px){
	.body-content {
  		max-height: 70%;
  	}	
  	.container {
  		height: 150vw;
  	}
  	#home-content {
  		padding-top: 5vw;
  	}
}

@media screen and (min-width: 451px) and (max-width: 540px) {
  .image-container {
  	width: 75%;
  }
}

@media screen and (max-width: 540px) {
  body {
    overflow: hidden;
  }
  body .drawn-button {
    align-self: center;
    margin: 1%;
    font-size: 4vw;
  }
  html {
	background-image: url("../images/background_mobile.png");
  }
  .container {
  	width: 96%;
  	position: absolute;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);

  	max-height: 94vh;
  }
  .body-content {
  	width: 90%;
  	min-height: 61%;
  }
  .small {
  	padding-top: 2%;
  }
  .title {
  	font-size: 8vw;
  }
  .subtitle {
  	font-size: 4vw;
  }
  .addendum {
  	font-size: 3vw;
  }
  .pencil {
  	height: 25px;
  }
  .standard-text {
  	font-size: 4.5vw;
  }
  .image-button {
  	height: 6vw;
  	width: 6vw;
  }
  footer span {
  	font-size: 3.5vw;
  }
}

@media screen and (min-width: 541px) {
	html {
		background-image: url("../images/background.JPG");
		background-position: center;
		background-size: 1750px 103vh;
	}
	.container {
		max-width: 75vh;
		min-width: 470px;
		max-height: 97vh;
		min-height: 610px;

		text-shadow: 1px 1px rgba(255, 255, 255, .5) !important;
	}
	.body-content {
  		max-height: 67%;
  		min-height: 67%;
	}
}