@font-face {
  font-family: "Banannie-Regular";
  src: url("../fonts/Banannie-Regular.otf") format("opentype");
}

@font-face {
	font-family: "PWChalk";
	src: url("../fonts/PWChalk.TTF") format("truetype");
}

body {
  transition: all 0.35s cubic-bezier(0.33, 1.21, 0.86, 0.85);
}

html {
	background-image: url("../images/background.png");
}

html, .drawn-button {
	color: rgba(82,80, 75, .7);
}

img {
	width: 100%;
	height: 100%;
}

input.drawn-input {
	height: 30px;
}

footer {
	font-family: "PWChalk";
	color: rgba(255, 229, 207, 0.76);
	text-shadow: 1px 1px rgba(255,255,255,0.2), -1px -1px rgba(0,0,0,0.5);
}

footer > span {
	font-size: 1.2rem;
}

form > input, textarea {
	margin-bottom: 5px;
}

form > textarea {
	height: 120px;
}

#signature {
	height: 15px;
	width: 40px;
}

#social-media {
	padding-left: 10px;
}

#slideshow {
	position: relative;
}

.addendum {
	font-size: .9rem;
}

.align-center {
	margin: auto;
}
.align-right {
	right: 0;
	margin-right: 3%;
}

.body-content {
	padding-top: 3%;
	width: 85%;
	margin: auto;
	margin-bottom: 7%;
	position: relative;
}

.bottom {
	position: absolute;
	bottom: 0;
	margin-bottom: 2%;
}

.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-6 {
	width: 50%;
}
.col-8 {
	width: 66.6%;
}
.col-9 {
	width: 75%;
}
.col-12 {
	width: 100%;
}

.contact {
	display: grid;
}

.container {
	width: 85%;
	height: 90%;

	font-family: "Banannie-Regular";

	max-width: 600px;
	min-height: 90vh;


	position: relative;

	text-shadow: 1px 1px rgba(255, 255, 255, .5) !important;

	margin: auto;
	margin-top: 15px;
	margin-bottom: 5px;
	background-image: url("../images/container_background.jpg");
	border-radius: 1px;
}

.hidden {
	display: none;
}

.hr-short {
    display: block;
    height: 3px;
    width: 60%;
    border: 0;
    border-top: 1px solid rgba(82,80, 75, .7);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin: auto;
    margin-top: 1em;
    padding: 0; 
}

.image-button {
	height: 30px;
	width: 30px;
	align-self: center;
	vertical-align: middle;
  	outline: none;
  	opacity: 80%;
}

.navbar {
	margin: auto;
	margin-top: 10px;
	border: 1px;
}

.reflow-paragraph {
	display: inline-flex;
}

.reflow-paragraph > img {
	margin-right: 3%;
}

.standard-text {
	font-size: 1.3rem;
	padding-bottom: 15px;
}

.standard-text > p {
	margin: 2%;
}

.subtitle {
	font-size: 1.2rem;
}

.text-center {
	text-align: center !important;
}

.title {
	font-size: 2.5rem;
	font-weight: lighter;
}

.title-section {
	padding-top: 10px;
}

html .drawn-input, body .drawn-input {
  font-family: inherit;
  align-self: center;
  background: transparent;
  font-size: 1.1rem;
  outline: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

html .drawn-button, body .drawn-button {
  font-family: inherit;
  align-self: center;
  background: transparent;
  padding: .5rem .5rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: all 0.35s cubic-bezier(0.33, 1.21, 0.86, 0.85);
  outline: none;
  box-shadow: 19px 19px 29px -16px rgba(0, 0, 0, .2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
html .drawn-button:hover, body .drawn-button:hover,
	html .image-button:hover, body .image-button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, .3);

}
html .drawn-button:active, body .drawn-button:active,
	html .image-button:active, body .image-button:active {
	filter: invert(1);
}
html .lined.thicc, body .lined.thicc {
  border: solid 7px rgba(82,80, 75, .7);
}
html .dotted.thicc, body .dotted.thicc {
  border: dotted 5px rgba(82,80, 75, .7);
}
html .dashed.thicc, body .dashed.thicc {
  border: dashed 5px rgba(82,80, 75, .7);
}
html  .lined.thin, body .lined.thin {
  border: solid 2px rgba(82,80, 75, .7);
}
html .dotted.thin, body .dotted.thin {
  border: dotted 2px rgba(82,80, 75, .7);
}
html .dashed.thin, body .dashed.thin {
  border: dashed 2px rgba(82,80, 75, .7);
}
@media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .drawn-button {
    align-self: center;
  }
  .container {
  	width: 100%;
  }
}

input, textarea::-webkit-input-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea:-ms-input-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea:-moz-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}

input, textarea::-moz-placeholder {
  font-family: 'Banannie-Regular';
  font-size: 1.2rem;
  padding-left: 2px;
}