body {
	background-image: url("../images/background.png");
}

.container {
	width: 85%;
	height: 85%;
	margin: auto;
	background-image: url("../images/container_background.jpg");
	border-radius: 1px;
}